server:
  port: 8082

spring:
  application:
    name: user-service
  # Filhal hum database auto-configuration ko band kar rahe hain taake server test ho sake
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration, org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/