server:
  port: 8082
spring:
  application:
    name: user-service

  datasource:
    # 1. Shuru mein 'jdbc:' lagana zaroori hai
    # 2. @ sign se pehle wala hissa (username/password) yahan se nikal diya hai
    url: jdbc:postgresql://ep-divine-resonance-a12py9f3-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
    username: neondb_owner
    password: npg_Zmkp2RhIoA1n
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
