server:
  port: 8761

spring:
  application:
    name: discovery-server

eureka:
  client:
    # Yeh server khud hai, isliye isey register nahi hona
    register-with-eureka: false
    fetch-registry: false