server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      # Yahan hum Gateway ko rasta bata rahe hain
      routes:
        - id: user-service
          uri: lb://USER-SERVICE   # 'lb' ka matlab hai Load Balancer (Eureka se address dhoondho)
          predicates:
            - Path=/api/users/** # Agar URL mein yeh aaye, toh USER-SERVICE ko bhej do

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/